In [21]:
import pandas as pd

In [22]:
data = pd.read_csv('iris (2).csv')

In [23]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [24]:
data['variety'] = data['variety'].map({'Setosa' : 0,
'Versicolor' : 1,
'Virginica': 2 })

In [25]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [26]:
X=data[['sepal.length','sepal.width','petal.length','petal.width']] #features
y=data['variety']

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics


X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=0)

model = RandomForestClassifier(n_estimators=5)

model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=5)

In [30]:
Y_pred = model.predict(X_test)

print(f'The accuracy for the test data : {metrics.accuracy_score(Y_pred, y_test)}')

The accuracy for the test data : 0.9666666666666667

In [31]:
model.predict(X_test)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0], dtype=int64)

In [32]:
Y_pred_train = model.predict(X_train)

print(f'The accuracy for the training data : {metrics.accuracy_score(Y_pred_train, y_train)}')

The accuracy for the training data : 1.0

##model persistence

In [33]:
from joblib import dump

dump(model,'irislog_model.joblib')

['irislog_model.joblib']